<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>English Tutor Platform
  </title>
   <link rel="stylesheet" href="https://bootswatch.com/5/journal/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body class="d-flex flex-column h-100 bg-light">
  {{> header}}
    <div class="banner"></div>
  <main class="flex-shrink-0" role="main">
    <div class="album container pt-5">
      <div class="pt-5">
        {{> messages}}
        
        {{{body}}}
      </div>
    </div>
  </main>
  {{> footer}}
 <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
    </body>
</html>