<div class="row">
  <div class="col-md-4">
    <img class="img-responsive center-block"
      src="{{course.User.avatar}}"
      style="width: 250px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
  </div>
  <div class="col-md-8">
    <h1>Name : {{course.User.name}}</h1>
    <h3>Country : {{course.User.nation}}</h3>
    <h3>課程名稱 : {{course.name}}</h3>
  </div>
 
<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
<script src="/javascripts/booking.js"></script>