<div class="row">
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{student.avatar}}"
      style="width: 250px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
      <h2>Name : {{student.name}}</h1>
      <h2>Country : {{student.nation}}</h2>
      <h2>About me:</h3>
      <p>{{student.introduction}}</p>
  </div>
<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>