<div class="mb-4 text-center">
  <h1 class="h3 font-weight-normal mb-3">Profile</h1>
</div>
<form action="/tutors/{{user.id}}/edit?_method=PUT" method="POST" enctype="multipart/form-data" style="width: 100%;">
  <div class="form-row mb-3">
    <label class="form-label" for="name">Name</label>
    <input type="text" id="name" name="name" class="form-control" placeholder="Name" value="{{user.name}}" required>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="introduction"> Your Introduction</label>
    <textarea class="form-control" id="introduction" name="introduction" rows="3"required>{{user.introduction}}</textarea>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="teachingStyle">Your Teaching Style</label>
    <textarea class="form-control" id="teachingStyle" name="teachingStyle" rows="3"required>{{user.teachingStyle}}</textarea>
  </div>
  <div class="form-row mb-3 w-25">
  <label class="form-label" for="spendTime">單堂課程時間（分鐘）</label>
  <select class="form-control" id="spendTime" name="spendTime">
    <option value="0.5">30分鐘</option>
    <option value="1">60分鐘</option>
  </select>
</div>
<div class="form-row mb-3">
  <label class="form-label" for="link">課程視訊連結</label>
  <input type="text" id="link" name="link" class="form-control" placeholder="Link..." required autofocus>
</div>

  <div class="mb-3">
          <label for="availableDay" class="mb-2" style="margin-right:10px">開放預約</label>
          <input type="checkbox" name="availableDay" value="0" style="margin-left:5px" {{#if (eq course.availableDay 0)}}checked {{/if}}>星期日
          <input type="checkbox" name="availableDay" value="1" style="margin-left:5px" {{#if (eq course.availableDay 1)}}checked {{/if}}>星期一
          <input type="checkbox" name="availableDay" value="2" style="margin-left:5px" {{#if (eq course.availableDay 2)}}checked {{/if}}>星期二
          <input type="checkbox" name="availableDay" value="3" style="margin-left:5px" {{#if (eq course.availableDay 3)}}checked {{/if}}>星期三
          <input type="checkbox" name="availableDay" value="4" style="margin-left:5px" {{#if (eq course.availableDay 4)}}checked {{/if}}>星期四
          <input type="checkbox" name="availableDay" value="5" style="margin-left:5px" {{#if (eq course.availableDay 5)}}checked {{/if}}>星期五
          <input type="checkbox" name="availableDay" value="6" style="margin-left:5px" {{#if (eq course.availableDay 6)}}checked {{/if}}>星期六
        </div>


<div class="form-row mb-3">
  <label class="form-label" for="startTime">開始時間</label>
  <input class="form-control" type="time" name="startTime" id="startTime" placeholder="Enter opening hours" step="1800"
    required autofocus>
</div>

<div class="form-row mb-3">
  <label class="form-label" for="endTime">結束時間</label>
  <input class="form-control" type="time" name="endTime" id="endTime" placeholder="Enter opening hours" step="1800"
    required autofocus>
</div>
  <button type="submit" class="btn btn-primary" onclick="submitForm()">Submit</button>
  <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
</form>